@charset "UTF-8";

/**** Start Main ****/
main section h1 {
  font-size: 1.8em;
  padding: 20px;
  border: dashed #213E4E 1px;
  border-bottom: none;
}
main section > p {
  margin: 0 2% 50px 2%;
  text-align: justify;
}
main section div.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
main section div.articles article.article2_item {
  width: 30%;
  padding: 8px;
  border: dashed #213E4E 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
main section div.articles article.article2_item div {
  margin-top: auto;       /*  ASTUCE POUR PLACER UN BLOC À LA FIN */
}
main section div.articles article.article2_item ul {
  padding-left: 20px;
  margin: 15px 0;
}
main section div.articles article.article2_item ul li {
  list-style: circle;
}
main section div.articles article.article2_item p {
  text-align: center;
}
main section div.articles article.article2_item h2 {
  color: #fff;
  background-color: #213E4E;
  margin: 0 0 10px 0;
  font-size: 1.2em;
  font-weight: normal;
  padding: 15px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main section div.articles article.article2_item div button {
  border: none;
  background-color: #FB8B9B;
  color: #fff;
  margin: 0 10px 0 0;
  font-size: 1.1em;
  font-weight: bold;
  width: 100%;
}
main section div.articles article.article2_item div button:hover {
  border-radius: 15px;
}
main section div.articles article.article2_item div button:focus {
  filter: sepia(50%);
}
/**** End Main ****/

/**** MEDIAS QUERIES ****/
@media all and (max-device-width:720px) {
  * {
    transition: 0.5s ease-in-out 0s;
  }
  main section > p {
    margin-bottom: 10px;
  }
  main section div.articles {
    flex-direction: column;
  }
  main section div.articles article.article2_item {
    width: 100%;
    padding: 30px 0;
    border: none;
    border-bottom: dashed #213E4E 1px;
  }
  main section div.articles article.article2_item div {
    text-align: center;
  }
  main section div.articles article.article2_item div button {
    width: 30%;
  }
}
